<Button Class="message-button"><i class="bi bi-chat-left"></i></Button>

@code {

}

<style>

    .message-button {
        height: fit-content;
        width: fit-content;
        padding: 0px !important;
        align-self: center;
        background: transparent;
        border: transparent;
    }

</style>
