<Button Class="notification-button"><i class="bi bi-bell"></i></Button>

@code {

}

<style>

    .notification-button {
        height: fit-content;
        width: fit-content;
        padding: 0px !important;
        align-self: center;
        background: transparent;
        border: transparent;
    }

</style>
