<Button Class="profile-button"><i class="bi bi-person"></i></Button>

@code {

}

<style>

    .profile-button {
        height: fit-content;
        width: fit-content;
        padding: 0px !important;
        align-self: center;
        background: transparent;
        border: transparent;
    }

</style>
